@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example IO Game</title>
    <title>An example .io game</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/assets/icon64.png">
    <meta property="description" content="A complete example multiplayer .io web game implemented from scratch. Built with .NET and Angular. Open source on Github.">
    <meta property="og:title" content="An example .io game">
    <meta property="og:description" content="A complete example multiplayer .io web game implemented from scratch. Built with .NET and Angular. Open source on Github.">
    <meta property="og:image" content="/assets/icon1200.png">

    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    <app-root></app-root>
    <script src="runtime.js" type="module"></script>
    <script src="polyfills.js" type="module"></script>
    <script src="main.js" type="module"></script>
</body>
</html>